/*
  ==========================
  bookmarks
  ==========================
*/
ul.bookmarks {
  list-style-type: none;
  margin: 0;
  padding: 12px 20px;
  padding: 1.2rem 2rem;
  background-color: #f6f7f2;
  border-top: solid 3px #e1e2d3;
  border-top: solid 0.3rem #e1e2d3;
  border-bottom: solid 1px #e1e2d3;
  border-bottom: solid 0.1rem #e1e2d3;
}

ul.bookmarks li {
  position: relative;
  margin: 0;
  padding: 0 0 0 24px;
  padding: 0 0 0 2.4rem;
}

ul.bookmarks li:before {
  content: '\F078';
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  color: #666666;
}

ul.bookmarks li + li {
  margin-top: 2px;
  margin-top: 0.2rem;
}

* + ul.bookmarks {
  margin-top: 24px;
  margin-top: 2.4rem;
}

h1#page-title + ul.bookmarks {
  margin-top: 30px !important;
  margin-top: 3rem !important;
}

/*
  ==========================
  document list (single or multiple)
  ==========================
*/
ul.document-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

ul.document-list li {
  position: relative;
  padding-left: 22px;
  padding-left: 2.2rem;
}

ul.document-list li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\F15C';
  font-family: 'FontAwesome';
  color: #666666;
}
